
.cabecalho {
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 0.5rem;
}

.cabecalho__titulo {
    background-color: var(--altColor);
    display: flex;
    align-items: stretch;
    justify-content: center;
    box-shadow: 0 0 1rem;
    padding: 0.5rem;
    position: relative;
}

.cabecalho__botao{
    display: none;
}

.cabecalho__hamburguer{
    display: none;
    align-items: center;
    justify-content: center;
}

.cabecalho__lista{
    display: none;
    position: absolute;
    top: calc(100% + 0.5rem);
    left: 0;
    width: 100%;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 0.5rem;
    list-style: none;
}

.cabecalho__botao:checked ~ .cabecalho__hamburguer > svg{
    box-shadow: 0 0 1rem;
}

.cabecalho__botao:checked ~ .cabecalho__lista{
    display: flex;
}

.cabecalho__lista__item{
    flex: 1;
    background-color: var(--altColor);
    box-shadow: 0 0 1rem;
    padding: 0.5rem;
}

.cabecalho__titulo__titulo{
    flex: 1;
}

.cabecalho__menu {
    display: flex;
    align-items: stretch;
    justify-content: center;
    cursor: pointer;
    gap: 0.5rem;
}

.cabecalho__menu__item {
    flex: 1;
    background-color: var(--altColor);
    display: flex;
    align-items: stretch;
    justify-content: center;
    color: var(--fontColor);
    cursor: pointer;
    box-shadow: 0 0 1rem;
    padding: 0.5rem;
}

.cabecalho__menu__item:hover {
    background-color: var(--hoverColor);
}

.ativo {
    background-color: yellow;
}

@media screen and (max-width: 800px) {
    .cabecalho,
    .cabecalho__titulo,
    .cabecalho__menu,
    .cabecalho__menu__item {
        height: auto;
    }

    .cabecalho__titulo{
        justify-content: space-between;
    }

    .cabecalho__hamburguer{
        display: flex;
    }

    .cabecalho__menu{
        display: none;
    }

    .cabecalho__menu{
        display: none;
    }

    .cabecalho__menu {
        flex-direction: column;
        gap: 0.1rem;
    }

    .cabecalho__menu__item {
        padding: 0.5rem 0;
        width: 100%;
    }
}