
.cabecalho {
    width: 100%;
    /* height: calc(15vh - 0.5rem); */
    height: 15vh;
    margin-bottom: 0.25rem;
    border-radius: var(--bordaRaio);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.cabecalho__titulo {
    flex: 1;
    width: 100%;
    margin: 0.5vh 0;
    border-radius: var(--bordaRaio);
    background-color: var(--altColor);
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: rolagem;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes rolagem {
    0% {
        background-color: var(--altColor);
        left: 0px;
        top: 0px;
    }

    50% {
        background-color: black;
        left: 200px;
        top: 200px;
    }

    100% {
        background-color: var(--altColor);
        left: 0px;
        top: 0px;
    }
}

.cabecalho__menu {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cabecalho__menu__item {
    flex: 1;
    margin: 0 0.1vw;
    height: 100%;
    border-radius: var(--bordaRaio);
    background-color: var(--altColor);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--fontColor);
    cursor: pointer;
}

.cabecalho__menu__item:hover {
    background-color: yellow;
}
