.principal {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.principal__conteudo {
    flex: 1;
    margin: 0 0.1vw;
    box-sizing: border-box;
    height: 100%;
    border-radius: var(--bordaRaio);
    background-color: var(--altColor);
}

.principal__conteudo__texto {
    padding: 0.5rem 1rem;
    text-align: justify;
}

.principal__conteudo__botao {
    width: 100%;
    padding: 0.5rem;
    border-radius: var(--bordaRaio);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--fontColor);
    text-decoration: none;
}

.principal__conteudo__botao:hover {
    background-color: var(--hoverColor);
}

.principal__conteudo__foto {
    width: 100%;
    height: 100%;
    border-radius: var(--bordaRaio);
    object-fit: cover;
}
