.principal {
    width: calc(100vw - 1rem);
    height: calc(80vh - 2rem);
    display: flex;
    align-items: center;
    justify-content: center;
}

.principal__conteudo {
    flex: 1;
    height: 100%;
    padding: 0.5rem;
    background-color: var(--altColor);
    box-shadow: 0 0 1rem;
}

.principal__conteudo__texto {
    padding: 0.5rem;
    text-align: justify;
}

.principal__conteudo__botao {
    padding: 0.5rem;
    border-radius: var(--bordaRaio);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--fontColor);
    text-decoration: none;
}

.principal__conteudo__botao:hover {
    background-color: var(--hoverColor);
}
