.rodape {
    width: calc(100vw - 1rem);
    height: 5vh;
    background-color: var(--altColor);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 1rem;
}

.rodape__conteudo {
    padding: 0.5rem;
}
