.rodape {
    /* height: 5vh; */
    background-color: var(--altColor);
    box-shadow: 0 0 1rem;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.rodape__conteudo {
    padding: 0.5rem;
}

@media screen and (max-width: 800px) {
    .rodape {
        height: auto;
    }
}