.rodape {
    width: 100%;
    height: 5%;
    margin-top: 0.25rem;
    border-radius: var(--bordaRaio);
    background-color: var(--altColor);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.rodape__conteudo {
    position: relative;
    width: 60%;
    overflow: hidden;
    white-space: nowrap;
    animation: scroll 10s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}
