@import url("./cabecalho.css");
@import url("./principal.css");
@import url("./rodape.css");

:root {
    --backColor: lightgray;
    --fontColor: #1A3636;
    --altColor: #D6BD98;
    --hoverColor: #677D6A;
    --spanColor: orange;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    box-sizing: border-box;
}

body {
    background-color: var(--backColor);
    color: var(--fontColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.hidden{
    display: none;
}

@media screen and (max-width: 800px) {
    .cabecalho,
    .cabecalho__titulo,
    .cabecalho__menu,
    .cabecalho__menu__item,
    .principal,
    .principal__conteudo,
    .principal__conteudo__foto,
    .rodape {
        height: auto;
    }

    .cabecalho__menu {
        flex-direction: column;
    }

    .cabecalho__menu__item {
        padding: 0.5rem 0;
        width: 100%;
    }
    
    
}